In [1]:
import pandas as pd

Import all CSV files for the 2022/23 season

In [2]:
players_statistics_home_team = pd.read_csv('../../data/2022-23/players_statistics_home_team.csv')
players_statistics_away_team = pd.read_csv('../../data/2022-23/players_statistics_away_team.csv')
match_statistics = pd.read_csv('../../data/2022-23/match_statistics.csv')

In [3]:
match_statistics

,match_id,stadium,attendance,is_home_team,team,possessions,total_shots,on_target,off_target,blocked,...,clear_cut_chance,corners,offsides,tackles,aerial_duels,saves,fouls_committed,fouls_won,yellow_cards,red_cards
0,465005,Emirates Stadium,60095,True,Arsenal,51.0,14,8,4,2,...,3,8,1,82.4,47.8,0,8,10,0,0
1,465005,Emirates Stadium,60095,False,Wolverhampton Wanderers,49.0,6,0,4,2,...,0,4,0,44.4,52.2,3,11,8,0,0
2,465006,Villa Park,42212,True,Aston Villa,40.3,12,5,5,2,...,4,4,0,42.9,52.2,3,15,16,4,0
3,465006,Villa Park,42212,False,Brighton and Hove Albion,59.7,8,4,3,1,...,3,3,6,15.4,47.8,3,16,15,4,0
4,465007,Gtech Community Stadium,17120,True,Brentford,34.4,11,4,4,3,...,2,3,3,64.7,50.0,2,12,8,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,464642,Tottenham Hotspur Stadium,61732,False,Southampton,42.5,10,2,5,3,...,0,2,0,42.9,45.8,5,6,11,0,0
756,464637,Goodison Park,39254,True,Everton,37.3,8,4,3,1,...,0,4,0,70.8,35.3,5,14,11,3,0
757,464637,Goodison Park,39254,False,Chelsea,62.7,15,6,3,6,...,1,16,2,47.4,64.7,3,11,14,2,0
758,464635,Selhurst Park,25286,True,Crystal Palace,56.3,10,2,2,6,...,2,3,1,50.0,41.7,1,16,9,1,0
759,464635,Selhurst Park,25286,False,Arsenal,43.7,10,2,4,4,...,1,5,2,55.2,58.3,2,11,16,2,0

In [4]:
players_statistics_home_team['position'].unique()

array(['GK', 'RB', 'CB', 'LB', 'DM', 'RW', 'AM', 'LW', 'CF', 'RM', 'CM',
       'LM', 'SS', 'M', nan], dtype=object)

In [5]:
players_statistics_away_team['position'].unique()

array(['GK', 'RB', 'CB', 'LB', 'DM', 'RW', 'AM', 'LW', 'CF', 'CM', 'M',
       'RM', 'LM', 'SS'], dtype=object)

In [11]:
result = players_statistics_home_team.loc[players_statistics_home_team['position'].isnull()]
result
merged_df = players_statistics_home_team.merge(result, on='name_player', how='inner')
merged_df

,match_id_x,number_player_x,name_player,nationality_x,age_x,position_x,transfer_fee_x,first_team_x,substitution_x,play_time_x,...,first_team_y,substitution_y,play_time_y,goals_y,penalty_goals_y,missed_penalty_goals_y,own_goals_y,assists_y,yellow_card_y,red_card_y
0,465012,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,False,0,...,False,True,17,0,0,0,0,0,False,False
1,464992,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,29,...,False,True,17,0,0,0,0,0,False,False
2,464971,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,29,...,False,True,17,0,0,0,0,0,False,False
3,464951,20,Patson Daka,Zambia,24.0,LW,20000000.0,True,False,90,...,False,True,17,0,0,0,0,0,False,False
4,464929,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,32,...,False,True,17,0,0,0,0,0,False,False
5,464700,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,14,...,False,True,17,0,0,0,0,0,False,False
6,464900,20,Patson Daka,Zambia,24.0,CF,20000000.0,True,True,66,...,False,True,17,0,0,0,0,0,False,False
7,464880,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,13,...,False,True,17,0,0,0,0,0,False,False
8,464860,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,False,0,...,False,True,17,0,0,0,0,0,False,False
9,464840,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,4,...,False,True,17,0,0,0,0,0,False,False
10,464802,20,Patson Daka,Zambia,24.0,CF,20000000.0,True,True,45,...,False,True,17,0,0,0,0,0,False,False
11,464771,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,18,...,False,True,17,0,0,0,0,0,False,False
12,464751,20,Patson Daka,Zambia,24.0,CF,20000000.0,False,True,26,...,False,True,17,0,0,0,0,0,False,False
13,464739,20,Patson Daka,Zambia,24.0,CF,20000000.0,True,True,65,...,False,True,17,0,0,0,0,0,False,False
14,464720,20,Patson Daka,Zambia,23.0,CF,20000000.0,False,True,28,...,False,True,17,0,0,0,0,0,False,False
15,464680,20,Patson Daka,Zambia,23.0,CF,20000000.0,False,True,3,...,False,True,17,0,0,0,0,0,False,False
16,464660,20,Patson Daka,Zambia,23.0,CF,20000000.0,False,True,25,...,False,True,17,0,0,0,0,0,False,False
17,464640,20,Patson Daka,NaN,NaN,NaN,NaN,False,True,17,...,False,True,17,0,0,0,0,0,False,False
18,464999,82,Rico Lewis,England,18.0,RM,15000000.0,True,False,90,...,False,False,0,0,0,0,0,0,False,False
19,464979,82,Rico Lewis,England,18.0,DM,15000000.0,True,False,90,...,False,False,0,0,0,0,0,0,False,False
20,464911,82,Rico Lewis,England,18.0,RB,15000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
21,464963,82,Rico Lewis,England,18.0,RB,15000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
22,464939,82,Rico Lewis,England,18.0,RB,15000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
23,464921,82,Rico Lewis,England,18.0,RB,15000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
24,464891,82,Rico Lewis,England,18.0,RB,1000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
25,464862,82,Rico Lewis,England,18.0,RB,1000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
26,464842,82,Rico Lewis,England,18.0,DM,1000000.0,True,True,45,...,False,False,0,0,0,0,0,0,False,False
27,464702,82,Rico Lewis,England,18.0,RB,1000000.0,True,True,83,...,False,False,0,0,0,0,0,0,False,False
28,464809,82,Rico Lewis,England,18.0,RB,1000000.0,True,True,87,...,False,False,0,0,0,0,0,0,False,False
29,464789,82,Rico Lewis,England,17.0,RB,1000000.0,False,False,0,...,False,False,0,0,0,0,0,0,False,False
30,464779,82,Rico Lewis,NaN,NaN,NaN,NaN,False,False,0,...,False,False,0,0,0,0,0,0,False,False
31,464759,82,Rico Lewis,England,17.0,RB,NaN,False,False,0,...,False,False,0,0,0,0,0,0,False,False
32,464731,82,Rico Lewis,England,17.0,RB,NaN,False,True,12,...,False,False,0,0,0,0,0,0,False,False
33,464722,82,Rico Lewis,England,17.0,RB,NaN,False,False,0,...,False,False,0,0,0,0,0,0,False,False
34,464683,82,Rico Lewis,England,17.0,CB,NaN,False,True,15,...,False,False,0,0,0,0,0,0,False,False
35,464671,82,Rico Lewis,England,17.0,RB,NaN,False,False,0,...,False,False,0,0,0,0,0,0,False,False
36,464651,82,Rico Lewis,England,17.0,RB,NaN,False,True,8,...,False,False,0,0,0,0,0,0,False,False
37,464971,1,Danny Ward,Wales,29.0,GK,8000000.0,False,False,0,...,True,False,90,0,0,0,0,0,False,False
38,464951,1,Danny Ward,Wales,29.0,GK,8000000.0,False,False,0,...,True,False,90,0,0,0,0,0,False,False
39,464929,1,Danny Ward,Wales,29.0,GK,8000000.0,False,False,0,...,True,False,90,0,0,0,0,0,False,False
40,464700,1,Danny Ward,Wales,29.0,GK,8000000.0,False,False,0,...,True,False,90,0,0,0,0,0,False,False
41,464900,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
42,464880,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
43,464860,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
44,464840,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
45,464822,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
46,464802,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
47,464771,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
48,464751,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
49,464739,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
50,464720,1,Danny Ward,Wales,29.0,GK,8000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
51,464680,1,Danny Ward,Wales,29.0,GK,6000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
52,464660,1,Danny Ward,Wales,29.0,GK,6000000.0,True,False,90,...,True,False,90,0,0,0,0,0,False,False
53,464640,1,Danny Ward,NaN,NaN,NaN,NaN,True,False,90,...,True,False,90,0,0,0,0,0,False,False